<ion-header [translucent]="true">
  <ion-toolbar>
     <img src="assets/images/borad-logo.png" size="small" >

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
  <ion-item>
  <ion-label>
    Sign In
  </ion-label>
</ion-item>
    <ion-item>
  <ion-label>User Name</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label>Password</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-button>Sign in</ion-button>


    
  </div>
</ion-content>
<ion-footer [translucent]="true">

 <ion-toolbar>
<div class="bar bar-footer bar-calm">
  <div class="title">Terms and condition</div>
   <div class="title">Privacy policy</div>
</div>  </ion-toolbar>
</ion-footer>

