<ion-header [translucent]="true">
  <ion-toolbar>
     <img src="assets/images/borad-logo.png" size="small" >

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <IonTabs>
    <IonTabBar slot="start">
	
	 <ion-item>
  <ion-label>
    Sign In
  </ion-label>
</ion-item>
    <ion-item>
  <ion-label>User Name</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label>Password</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-button>Sign in</ion-button>
<ion-button>Register</ion-button>
      
    </IonTabBar>
  </IonTabs>
 


</ion-content>
<ion-footer [translucent]="true">

 <ion-toolbar>
  <ion-item routerLink="/terms" routerDirection="root" routerLinkActive="active" detail='false'>
                    <ion-label>
                        Terms And Conditions
                    </ion-label>
                </ion-item>
				 <ion-item routerLink="/privacy" routerDirection="root" routerLinkActive="active" detail='false'>
                    <ion-label>
                        Privacy
                    </ion-label>
                </ion-item>
 </ion-toolbar>
</ion-footer>

